@import "tailwindcss";

@theme {
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1470px;
  --breakpoint-2xl: 1921px;

  --color-primary: #97400C;
  --color-sale: #AD5036;
  --color-text-main: #777E90;
  --color-text-sub: #838383;
  --color-success: #67A865;
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  --font-amplify: var(--font-amplify);
  --font-arima: var(--font-arima);
  --font-archivo: var(--font-archivo);
  --font-be-vietnam: var(--font-be-vietnam);
  --font-aref-ruqaa: var(--font-aref-ruqaa);
  --font-circular: var(--font-circular);
}

@utility no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

@utility animate-fade-in {
  animation: fadeIn 0.25s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.showroom-map-container {
  height: 400px;
}

@media (min-width: 768px) {
  .showroom-map-container {
    height: 700px;
  }
}

@media (min-width: 1024px) {
  .showroom-map-container {
    height: 1050px;
  }
}

